.about {
  margin: 160px 200px 100px;
  display: flex;
  justify-content: space-around;
}

.about img {
  width: 600px;
  height: auto;
}

.about p {
  font-size: 40px;
  max-width: 900px;
}

@media only screen and (max-width: 800px) {
  .about {
    display: block;
    margin: 0;
  }

  .about p {
    margin: 60px 20px;
  }
}